/* body {
    background-color: beige;
}

.td {
    background-color: white;
    height: 5em;
    width: 5em;
    border-radius: 50%;
}

table {
    background-color: blue;
    display: inline-block;
} */

